.feedback {
    display: flex;
    position: relative;
    z-index: 5;
}

.feedback__title {
    margin-bottom: 100px;

    @include tablets {
        text-align: center;
    }

    @include phones {
        margin-bottom: 40px;
    }
}