.logo {
    @include tablets {
        width: 50%;
    }

    @include phones {
        width: 80%;
    }
}

.logo__link {
    font-size: 36px;
    font-weight: 800;
    transition: color .3s;
    &:hover {
        color: $orange;
        transition: color .3s;
    }
}