.main-menu {
    display: flex;
    justify-content: center;
    width: 50%;
}

.main-menu__list {
    display: flex;
}

.main-menu__item {
    margin-left: 40px;
    transition: color .3s;
    &:last-child {
        margin-right: 0px;
    }
    &:hover {
        color: $orange;
        transition: color .3s;
    }
}