.main-menu--header {
    display: flex;
    justify-content: center;
}

.main-menu__list {
    display: flex;
}

.main-menu__item {
    margin-left: 40px;
    transition: color .3s;
    &:last-child {
        margin-right: 0px;
    }
    &:hover {
        color: $orange;
        transition: color .3s;
    }
}

.footer .main-menu {
    color: $white;
    padding-top: 10px;
    height: 30px;
    margin-bottom: 70px;

    & .main-menu__item:first-child {
        margin-left: 0;
    }
}