.my-skills {
    background: url('../images/background/skills-bg.png') center center/cover no-repeat;
    position: relative;
    min-height: 1020px;

    &::before {
        content: "";
        background: url('../images/content/hands.png') no-repeat;
        position: absolute;
        width: 650px;
        height: 970px;
        bottom: -75px;
    }
}