.socials {
    display: flex;
    justify-content: center;
}

.socials__item {
    width: 25px;
    margin-left: 40px;
    &:last-child {
        margin-right: 0px;
    }
}

.social__link {
    display: flex;
    align-items: center;
}

.socials__icon {
    width: 25px;
    height: 25px;
    fill: #716a65;
    transition: fill .3s;
    &:hover {
        fill: $orange;
        transition: fill .3s;
  }
}

