nav.main-menu
    ul.main-menu__list
        - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
        each item in menu
            li.main-menu__item
                a(href="").main-menu__link= item