.parallax__wrap  
    .parallax__layer.parallax__sky(data-layer-number= '1' data-speed= '0.05')
        +image('parallax/clouds.png', 'parallax__image', 'presentation')
    .parallax__layer(data-layer-number= '2' data-speed= '0.065')
        +image('parallax/mountains.png', 'parallax__image', 'presentation')
    .parallax__layer(data-layer-number= '3' data-speed= '0.1')
        +image('parallax/bridge.png', 'parallax__image', 'presentation')
    .parallax__layer(data-layer-number= '4' data-speed= '0.045')
        +image('parallax/grass.png', 'parallax__image', 'presentation')