ul.skills
    -
        const skills = [
            {
                "skillsType": "Front-end",
                "skills": {
                    "HTML5": 25,
                    "CSS3": 15,
                    "Javascript": 75,
                    "jQuery и Vue.js": 40
                }
            },
            {
                "skillsType": "Workflow",
                "skills": {
                    "GIT": 30,
                    "Terminal": 60,
                    "Gulp": 30,
                    "Webpack": 70
                }
            }
        ]
    each item in skills
        li.skills__row
            h3.skills__title= item.skillsType
            ul.skills__list
                each key, prop in item.skills
                    - var percent = (251/100)*(100-key)
                    li.skill
                        svg(viewBox="0 0 100 100").skill__shape
                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle-under
                            circle(cx="50" stroke-dashoffset=`${percent}` cy="50" r="40" stroke="url(#gradient)" transform='rotate(100 50 50)').skill__circle.skill__circle-above
                            linearGradient(id="gradient" x1="0%" y="0%" x2="100%" y2="0")
                                stop(offset="0%" stop-color="#f29400")
                                stop(offset="100%" stop-color="#ea7400")
                        .skill__circle-text= prop