mixin socials(mod)
    ul(class='socials socials--' + mod)
        - var items = [{name: 'insta', link: '#'}, {name: 'vk', link: '#'}, {name: 'github', link: '#'}];
        each item in items
            li.socials__item
                a(href=item.link).socials__link
                    +icon(`${item.name}`, 'socials__icon')