section.welcome.fullscreen-section
    include header
    .welcome__content
        .welcome__name
            h2.welcome__title Личный сайт веб разработчика
            h1.welcome__name-title Петров Иван
    a.scroll Скролл
        +icon('scroll', 'scroll__icon')