section.welcome.fullscreen-section
    include header
    .welcome__content
        h2.welcome__title Личный сайт веб разработчика
        h1.welcome__name-title Иван Петров
    a.scroll Скролл
        +icon('scroll', 'scroll__icon')