include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome__section
          include components/welcome
          include components/hero
        include components/my-skills
        include components/works
        .maincontent__autumn-bg
          include components/reviews
          include components/feedback
        include components/footer